<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleName</key>
  <string>priority_donor_club</string>
  <key>GMSApiKey</key>
  <string>AIzaSyD98b1SaQHu1wim-SPa-GWgP-_-6cdeguY</string>
  <!-- Other configurations -->
</dict>
</plist>
